.square {
  background: rgba(0, 0, 0, .1);;
  border: 1px solid #fff;
  color: #fff;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.winner {
  color: #62a;
  text-shadow: 1px 1px #000;
}