@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  background: linear-gradient(-45deg, #000, rgb(41, 2, 73), #000);
  color: #fff;
  font: 16px "Jost", Futura, sans-serif;
}

*, *::after, *::before {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

ul {
  list-style: none;
}
